{% extends 'base.html' %} {% block main %}



<div class="row">

    <div class="col-md-4 offset-4"> 

        <div class="rounded shadow p-5 mt-5">
            <h4 class="text-danger">
              Are you sure?

            </h4>
            <p>
              proceed to delete <strong class="text danger">
                  {{movies.title}}</strong> ?

            </p>

            <form action="/delete/{{movie.id}}" method="post">
                 <input type=""
            </form>
        </div>
    </div>
</div>